@import "assets/styles/variables";

.toggleButton {
  border: none !important;

  svg {
    fill: $black-color;
    width: $icon-size-large;
    height: $icon-size-large;
  }
}

.closeButton {
  svg {
    fill: $black-color;
    width: $icon-size-large;
    height: $icon-size-large;
    cursor: pointer;
  }

  border: none;
  background-color: unset;
  display: block;
  margin-left: auto;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 $spacing-xxs rgba(0, 0, 0, 0.55);
    border-radius: $spacing-xxs;
  }
}

.navbar {
  margin: $spacing-s 0;
  @include medium_breakpoint {
    margin: $spacing-l;
  }
}

.navItem {
  text-decoration: none;
  text-align: center;
  margin: $spacing-xs 0;
  color: $black-color;
  font-size: $font-size-large;
  font-weight: $font-weight-semi-bold;
}

.canvasSocialMedia {
  display: flex;
  justify-content: center;
  margin: $spacing-l 0;
}
