@import "../../styles/variables";

.container {
  display: block;

  svg {
    margin: 0 0.5rem;
    fill: $black-color;
    width: $icon-size-medium;
    height: $icon-size-medium;
  }

  svg:hover {
    fill: $main-color;
  }
}
