@import "assets/styles/variables";

.container {
  align-items: center;
  margin: $spacing-l 0;

  img {
    position: static !important;
  }
}

.textContainer {
  margin-top: $spacing-l;

  @include large_breakpoint {
    margin-top: 0;
  }

  button {
    padding: $spacing-s $spacing-m;
    margin: $spacing-s;

    @include large_breakpoint {
      padding: $spacing-s $spacing-xl;
      margin: $spacing-s 0;
    }
  }
}
