@import "assets/styles/variables";

.row {
  margin: $spacing-s 0;
  align-items: center;
}

.col {
  margin: $spacing-m 0;

  a {
    text-decoration: none;
    color: $black-color;

    &:hover {
      color: $main-color;
    }
  }
}

.imgContainer {
  display: flex;
  justify-content: center;

  img {
    position: static !important;
  }
}
