@import "assets/styles/variables";

.row {
  margin: 1rem 0;
  align-items: center;
}

.col {
  margin: 2rem 0;

  a {
    text-decoration: none;
    color: $black-color;
  }

  a:hover {
    color: $main-color;
  }
}

.imgContainer {
  display: flex;
  justify-content: center;

  img {
    position: static !important;
  }
}
