@import "assets/styles/variables";

.container {
  margin: $spacing-l 0;
  text-align: center;

  h2 {
    margin: 0 0 $spacing-l;
  }

  a {
    margin: $spacing-m 0 0;
  }

  button {
    padding: $spacing-s $spacing-l;

    @include medium_breakpoint {
      padding: $spacing-s $spacing-xl;
    }
  }

  @include medium_breakpoint {
    align-items: center;
  }
}
