@import "/styles/variables";

.container {
  margin: 3rem 0;

  h2 {
    margin: 0 0 3rem;
  }

  a {
    margin: 2rem 0 0;
  }

  button {
    padding: 1rem 2rem;

    @include medium_breakpoint {
      padding: 1rem 5rem;
    }
  }

  @include medium_breakpoint {
    align-items: center;
  }
}
