@import "assets/styles/variables";

.container {
  margin: 5rem 0;

  h1,
  h2 {
    margin: 2rem 0;
  }

  h2:last-of-type {
    margin-top: 5rem;
  }

  a {
    text-decoration: none;

    svg {
      width: $icon-size-medium;
      height: $icon-size-medium;
    }

    span {
      margin-left: 0.25rem;
    }
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;

  @include large_breakpoint {
    padding: 5rem;
  }

  img {
    position: static !important;
  }
}
