@import "assets/styles/variables";

.container {
  margin: $spacing-xl 0;

  h1,
  h2 {
    margin: $spacing-m 0;

    &:last-of-type {
      margin-top: $spacing-xl;
    }
  }

  a {
    text-decoration: none;

    svg {
      width: $icon-size-medium;
      height: $icon-size-medium;
    }

    span {
      margin-left: 0.2$spacing-xl;
    }
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding: $spacing-s;

  @include large_breakpoint {
    padding: $spacing-xl;
  }

  img {
    position: static !important;
  }
}
