@import "assets/styles/variables";

.container {
  margin: 5rem 0;

  h1,
  h2 {
    margin: 2rem 0;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;

  @include large_breakpoint {
    padding: 5rem;
  }

  img {
    position: static !important;
  }
}
