@import "assets/styles/variables";

.container {
  align-items: center;
  margin: $spacing-l 0;

  img {
    position: static !important;
  }
}

.imageContainer {
  display: block;
  margin: 0 auto;
  max-width: 250px;

  @include large_breakpoint {
    max-width: 350px;
  }
}

.textContainer {
  margin-top: $spacing-l;

  @include large_breakpoint {
    margin-top: 0;
  }
}
