// Colors
$black-color: #000000 !default;
$gray-color: #4a4542 !default;
$main-color: #7895b2 !default;
$main-color-light: #aebdca !default;
$secondary-color: #e8dfca !default;
$secondary-color-light: #f5efe6 !default;
