@import "variables";
@import "bootstrap/scss/bootstrap";

html,
body {
  font-size: $font-size-large;
  font-weight: $font-weight-light;
  line-height: $line-height;
}

main {
  width: 100%;
  padding: 0 $spacing-m;
}

h1,
h2 {
  font-size: $font-size-heading;
  font-weight: $font-weight-semi-bold;
}

h3 {
  font-size: $font-size-heading;
  font-weight: $font-weight-normal;
}
