@import "assets/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $spacing-xl 0 $spacing-s;
  padding: 0 $spacing-s;
}

.socialMedia {
  margin-bottom: $spacing-m;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: $spacing-m;
  margin: $spacing-s 0;
}

.link {
  text-decoration: none;
  color: $black-color;
}
