@import "breakpoints";

// Colors
$black-color: #000000 !default;
$gray-color: #4a4542 !default;
$main-color: #7895b2 !default;
$main-color-light: #aebdca !default;
$secondary-color: #e8dfca !default;
$secondary-color-light: #f5efe6 !default;

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;

// Font sizes
$line-height: 2rem;
$font-size-normal: 1rem;
$font-size-large: 1.25rem;
$font-size-heading: 1.5rem;

// Icon sizes
$icon-size-normal: 2.25rem;
$icon-size-medium: 1.5rem;

// Bootstrap overrides
$primary: $main-color !default;
$secondary: $secondary-color !default;
